.people {
    padding-left: 4px;
}

.display-floor {
    border-radius: 0.7rem;
    text-align: center;
    width: 50px;
    font-size: medium;
    font-weight: 700;
    color: white;
    background-color: black;
    margin: 20px auto 20px auto;
} 
