$primary-color: #6558d3;
$secondary-color: #6c757d;
$button-hover-color: darken($primary-color, 10%);
$background-color: #f8f9fa;
$error-color: #dc3545;

* {
  font-family: Helvetica, sans-serif !important;
  font-size: 12px !important;
}

body {
  background-image: url(./assets/images/control-panel.jpg);
  background-size: 17.974px;
}

.people {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 0.5rem;
 
  .person {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #f1eeff;
    font-weight: 600;
    color: $primary-color;
    border-radius: 0.7rem;
  }  
}


.button {
  background-color: $primary-color;
  color: #f1eeff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:disabled {
    background-color: $secondary-color;
    cursor: not-allowed;
  }

  &:hover:enabled {
    background-color: $button-hover-color;
  }
}