table {
    white-space: nowrap;
}
.elevator {
    height: 433px;
    width: 326px;
    background-repeat: no-repeat;
    display: inline-block;

}
.closed-elevator {
    background-image: url(../../../assets/images/closed-elevator.jpg);
}
.open-elevator {
    background-image: url(../../../assets/images/open-elevator.jpg);
}
.control-panel {
    width: 500px;
    background-image: url(../../../assets/images/control-panel.jpg);
}

.display-floor {
    border-radius: 0.7rem;
    text-align: center;
    width: 80PX;
    height: 35px;
    font-size: x-large;
    font-weight: 700;
    color: white;
    background-color: black;
    margin: 40px auto 20px auto;
} 

