<table>
    <tr *ngFor="let floor of elevatorSystemService.floors$ | async">
        <td class="control-panel">
            <app-floor [id]="floor" [people]="elevatorSystemService.getWaitingPeople(floor) | async"/>
        </td>
        <td class="elevator" *ngFor="let elevator of elevatorSystemService.elevators$ | async"
            [ngClass]="
                (elevator.currentFloor === floor && elevator.status === 'transfer') ? 'open-elevator': 'closed-elevator'
            ">
            <div class="display-floor">
                {{elevator.currentFloor}} {{elevator.status === 'up' ? '&uarr;' : null}} {{elevator.status === 'down' ? '&darr;' : null}}
            </div>
            <app-elevator *ngIf="elevator.currentFloor === floor"
                [people]="elevatorSystemService.getCarriedPeople(elevator.id) | async"/>
        </td>
    </tr>
</table>
<app-system-control-buttons/>