table {
    white-space: nowrap;
}
.elevator {
    height: 216px;
    width: 163px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;

}
.closed-elevator {
    background-image: url(../../../assets/images/closed-elevator.jpg);
}
.open-elevator {
    background-image: url(../../../assets/images/open-elevator.jpg);
}

