<div class="floor-container d-flex">
    <div class="floor-header">Floor {{ id }}</div>
    <div class="call-elevator d-flex">
      <label for="destination">Destination floor:</label>
      <input id="destination" [formControl]="destinationFloorControl" placeholder="Enter floor number">
      <button class="button" [disabled]="!destinationFloorControl.valid || destinationFloorControl.value == id" (click)="callElevator()">Call elevator</button>
    </div>
    <div class="waiting-people">
      Waiting People:
      <div class="people">
        <div class="person" *ngFor="let person of people">{{ person.startingFloor }} &rarr; {{ person.destinationFloor }}</div>
      </div>
    </div>
  </div>
  